@tailwind base;

@font-face {
  font-family: 'Europa';
  src: url('./assets/fonts/Europa-Regular.woff2') format('woff2'), 
       url('./assets/fonts/Europa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind components;

@tailwind utilities;
